$main-color: #00807e;

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  transition: 0.3s;
}

.training {
  &-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  &-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    padding: 60px 95px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
  }
  &-img {
    display: flex;
    flex-direction: column;
    width: 45%;
    img {
      max-width: 100%;
      display: block;
    }
  }
  &-form {
    width: 45%;
    ul {
      padding-top: 2rem;
      li {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-color;
        font-weight: bold;
        input,
        textarea,
        select {
          width: 70%;
          background-color: #fafafa;
          color: #818a91;
          outline: none;
          border: none;
          border-bottom: 1px solid $main-color;
          font-size: 1rem;
          text-indent: 0.5rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          min-height: 38px;
        }
        textarea {
          min-height: 111px;
        }
        &.form-btn {
          justify-content: end;
          button {
            background-color: $main-color;
            color: white;
            font-size: 1rem;
            padding: 10px 40px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background-color: #004e4d;
            }
          }
        }
      }
    }
  }
}

.title {
  color: $main-color;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 3px solid $main-color;
  span {
    margin-right: 6px;
  }
}

@media (max-width: 768px) {
  .training {
    &-panel {
      padding: 0;
      flex-direction: column;
      box-shadow: none;
      border-radius: none;
    }
    &-img {
      width: 100%;
      img:nth-child(2) {
        display: none;
      }
    }
    &-form {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 576px) {
  .training {
    &-layout {
      padding: 2rem;
    }
    &-form {
      ul {
        li {
          flex-direction: column;
          align-items: start;
          input,
          textarea,
          select {
            width: 100%;
          }
          &.form-btn {
            align-items: center;
          }
        }
      }
    }
  }
}

.main-content {
  line-height: 1.5;
  // min-height: 110vh;
  padding-bottom: 5rem;
  background-color: #f7f7f7;
  .search-area {
    display: flex;
    align-items: center;
    max-width: 920px;
    padding: 50px 0;
    margin: 0 auto;
    select {
      color: #818a91;
      outline: none;
      border: none;
      border-bottom: 1px solid #ced4da;
      font-size: 1rem;
      text-indent: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      min-height: 38px;
      border-radius: 4px;
      width: 16rem;
      margin-right: 30px;
    }
    p {
      color: #818a91;
    }
  }
  .ticketCard {
    &-area {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      // justify-content: center;
      // align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    & {
      display: flex;
      flex-direction: column;
      width: calc(1000px / 3);
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      position: relative;
      align-self: stretch;
    }
    &-img {
      overflow: hidden;
      height: 180px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &-location,
    &-rank {
      position: absolute;
      z-index: 10;
    }
    &-location {
      top: -12px;
      padding: 0.75rem 20px;
      font-size: 1.25rem;
      background-color: #64c3bf;
      color: #fff;
      border-radius: 0 5px 5px 0px;
    }
    &-rank {
      top: 170px - 16px;
      padding: 5px 8px;
      // font-size: 1.25rem;
      background-color: #00807e;
      color: #fff;
      border-radius: 0 5px 5px 0px;
    }
    &-content {
      padding: 20px;
      height: calc(100% - 180px);
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #00807e;
        border-bottom: 2px solid #00807e;
        cursor: pointer;
        padding-bottom: 0.5rem;
        &:hover {
          color: #64c3bf;
        }
      }
    }
    &-description {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      > p {
        color: #818a91;
      }
    }
    &-info {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $main-color;
      font-weight: bold;
    }
    &-price {
      display: flex;
      align-items: center;
      span {
        font-size: 2rem;
      }
    }
  }
  .cantFind {
    &-area {
      margin-top: 70px;
      text-align: center;
      h3 {
        color: #00807e;
        font-size: 2rem;
        margin-bottom: 50px;
        font-weight: bold;
      }
      img {
        margin: 0 auto;
        @media (max-width: 768px) {
          & {
            width: 100%;
          }
        }
      }
    }
  }
}

.d-none {
  display: none;
}
